body{
    color: black;
    background-color: white;
}
h1{
    color: palevioletred;
    font-family:'Times New Roman';
    font-size:xx-large;
    margin-bottom: 0px;
}
.quote{
    font-size: x-large;
    font-style: italic;
    text-align: center;
    padding-right: 100px;
    padding-top: 50px;
}
.tabs{
    text-align: right;
    font-size:larger;
}
h2{
    color: pink;
    padding-left: 40px;
}
h3{
    padding-left: 40px;
    text-decoration: underline;
}
.projects{
    padding-left: 45px;
    background-color: palevioletred;
    color: pink;
}
.titles{
    text-decoration: underline;
    padding-left: 60px;
}
p{
    color:white;
    padding-left: 60px;
}
.lifestyle{
    background-color: black;
    color:white;
    height: 750px;
}
.hiking{
    padding-left: 40px;
}
.traveling{
    padding-left: 40px;
}
.photo{
    padding-left: 500px;
}